@import './sass/_utils';


.header {
  @at-root #{&}-top{      //跳出当前
    margin: 0;
  }
  .page & {
    padding: 0;
  }
}

//媒介
@mixin tablet {
  @media (max-width:767px){
	  @content;
  }
}
@include tablet {
	p{font-size:12px;}
}

$num: 4;
@while $num > 0 {
  .list#{$num}{
    padding-left: percentage($num/6)
  }
  $num: $num - 1;
}
